/*Estilos de Tipo Etiqueta*/
h1 {
    font-family: impact;
    font-size: 40px;
    text-align: center;
    color: brown;
}
/* h2 {
    font-family: verdana;
    font-size: 25px;
    text-align: center;
    color: #1f618d;
}
h3 {
    font-family: arial;
    font-size: 18px;
    text-align: center;
    color: red;
}
p {
    font-family: calibri;
    font-size: 16px;
    color:gray;
} */
body{
    background-color: #f9e79f;
    background-image: url("../images/frontal2.jpe");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.botonsito {
    font-family: calibri;
    font-size: 16px;
    color: gray;
}	

/*Estilos de Tipo Clase*/

.botonsito {
    font-family: arial;
    font-size: 18px;
    color: white;
    text-decoration: none;

    background-color: brown;
    padding: 5px 15px;
}