/*Estilos de Tipo Etiqueta*/
/* h1 {
    font-family: impact;
    font-size: 40px;
    text-align: center;
    color: brown;
} */
/* h2 {
    font-family: verdana;
    font-size: 25px;
    text-align: center;
    color: #1f618d;
}
h3 {
    font-family: arial;
    font-size: 18px;
    text-align: center;
    color: red;
}
p {
    font-family: calibri;
    font-size: 16px;
    color:gray;
} */
body{
    background-color: #f9e79f;
    margin: 0;   
    font-size: 16px;
    line-height: 1.4;

}

h1, h2, h3, p {
    margin: 0;
}

.main {
    /* width: 660px; */
    /* margin: 0 auto; */
    min-height: 100vh;

}




/* Estilos par la primera pagina */
.header {
    background-image: url("../images/frontal2.jpe");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 500px; */
    height: 100vh;
    /* width: 100vh; */
    text-align: center;
    color: #fff;
}

.header-wrap {
    padding: 50px;
    /* margin: 50px; */
}

.header-subtitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    /* margin: 30px; */
    font-family: Arial, Helvetica, sans-serif;
    

}

.header-title {
    font-family: 'Merriweather', serif;
    margin: 30px 0;
    font-size: 44px;
    line-height: 1.5;    
}

.header-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

}

/* Botones */

.button {
    color: #fff;
    padding: 15px 30px;
    background-color:#bd2e33;
    margin-top: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
}

.button:hover {
    background-color: royalblue;
}

.button:focus {
    border: 0;
    outline: 0;
}



/* 
.botonsito {
    font-family: calibri;
    font-size: 16px;
    color: gray;
}	


.botonsito {
    font-family: arial;
    font-size: 18px;
    color: white;
    text-decoration: none;

    background-color: brown;
    padding: 5px 15px;
} */